body {
  font-family: sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 2px solid lightgray;
}
.tool-palette {
  display: flex;
  flex-grow: 0;
}
.sync-tool {
  flex-grow: 0;
  border: 5px solid white;
}
.painting-id {
  margin-left: 1em;
  margin-right: 1em;
}
.color-selector {
  flex-grow: 1;
  border: 5px solid lightgray;
}
.pixels {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 70%;
}
.pixel-row {
  display: flex;
  flex-grow: 1;
}
.pixel {
  flex-grow: 1;
  border: 2px solid lightgray;
}
.footer {
  margin-top: 1em;
  font-size: small;
  text-align: center;
}
